:root{
    --c: #333;
    --cb: #4A9EDD;
}

body{
    font: 400 16px 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
    
}
.site__header{
    width: 100%;
    height: 300px;
    background: url(./img/banner_header.jpg) no-repeat ;
    background-size: cover;
    margin-bottom: 60px;
}

.webinar__list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;

}

.webinar__items{
    display: inline-block;
    position: relative;
    width: 240px;
    
}

.webinar__items:not(:last-child){
    margin-bottom: 25px;
}
.webinar__title{
    font-style: italic;
    font-weight: 900;
}

.webinar__link{
    display: block;
    position: relative;
    text-decoration: none;
    color: var(--c);
    font-weight: 600;
    padding: 10px 10px 10px 30px;
}
.webinar__link:hover{
    color: var(--cb);  
    transition: all 0.5s linear;
}


.webinar__link::before{
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: 0px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 4px solid var(--cb);
    background: var(--c);
}

.webinar__items:hover .webinar__link::before{
   background: var(--cb);
   border-color: var(--c);
   transition: all 0.6s linear;
}

@media (min-width: 916px) and (max-width:1440px){
    .webinar__list{
        max-width: 910px;
        margin: 0 auto;
    }
}
@media(min-width: 1441px){
    .webinar__list{
        max-width: 1200px;
        margin: 0 auto;
    }
}